doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(charset='utf-8')
    // utf-8 works for most cases
    meta(name='viewport', content='width=device-width')
    // Forcing initial-scale shouldn't be necessary
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // Use the latest (edge) version of IE rendering engine
    meta(name='x-apple-disable-message-reformatting')
    // Disable auto-scale in iOS 10 Mail entirely
    title
    // The title tag shows in email notifications, like Android 4.4.
    // Web Font / @font-face : BEGIN
    // NOTE: If web fonts are not required, lines 10 - 27 can be safely removed.
    // Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font.
    //if mso
      style.
        * {
        font-family: sans-serif !important;
        }
    // All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/
    // [if !mso] <!
    // insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    // <![endif]
    // Web Font / @font-face : END
    // CSS Reset : BEGIN
    style.
      /* What it does: Remove spaces around the email design added by some email clients. */
      /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
      html,
      body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
      }
      /* What it does: Stops email clients resizing small text. */
      * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }
      /* What it does: Centers email on Android 4.4 */
      div[style*="margin: 16px 0"] {
      margin: 0 !important;
      }
      /* What it does: Stops Outlook from adding extra spacing to tables. */
      table,
      td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
      }
      /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
      table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
      }
      table table table {
      table-layout: auto;
      }
      /* What it does: Uses a better rendering method when resizing images in IE. */
      img {
      -ms-interpolation-mode:bicubic;
      }
      /* What it does: A work-around for email clients meddling in triggered links. */
      *[x-apple-data-detectors],  /* iOS */
      .x-gmail-data-detectors,    /* Gmail */
      .x-gmail-data-detectors *,
      .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      }
      /* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
      .a6S {
      display: none !important;
      opacity: 0.01 !important;
      }
      /* If the above doesn't work, add a .g-img class to any image in question. */
      img.g-img + div {
      display: none !important;
      }
      /* What it does: Prevents underlining the button text in Windows 10 */
      .button-link {
      text-decoration: none !important;
      }
      /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
      /* Create one of these media queries for each additional viewport size you'd like to fix */
      /* Thanks to Eric Lepetit (@ericlepetitsf) for help troubleshooting */
      @media only screen and (min-device-width: 375px) and (max-device-width: 413px) { /* iPhone 6 and 6+ */
      .email-container {
      min-width: 375px !important;
      }
      }
      @media screen and (max-width: 480px) {
      /* What it does: Forces Gmail app to display email full width */
      div > u ~ div .gmail {
      min-width: 100vw;
      }
      }
    // CSS Reset : END
    // Progressive Enhancements : BEGIN
    style.
      /* What it does: Hover styles for buttons */
      .button-td,
      .button-a {
      transition: all 100ms ease-in;
      }
      .button-td:hover,
      .button-a:hover {
      background: #555555 !important;
      border-color: #555555 !important;
      }
      /* Media Queries */
      @media screen and (max-width: 600px) {
      .email-container {
      width: 100% !important;
      margin: auto !important;
      }
      /* What it does: Forces elements to resize to the full width of their container. Useful for resizing images beyond their max-width. */
      .fluid {
      max-width: 100% !important;
      height: auto !important;
      margin-left: auto !important;
      margin-right: auto !important;
      }
      /* What it does: Forces table cells into full-width rows. */
      .stack-column,
      .stack-column-center {
      display: block !important;
      width: 100% !important;
      max-width: 100% !important;
      direction: ltr !important;
      }
      /* And center justify these ones. */
      .stack-column-center {
      text-align: center !important;
      }
      /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
      .center-on-narrow {
      text-align: center !important;
      display: block !important;
      margin-left: auto !important;
      margin-right: auto !important;
      float: none !important;
      }
      table.center-on-narrow {
      display: inline-block !important;
      }
      /* What it does: Adjust typography on small screens to improve readability */
      .email-container p {
      font-size: 17px !important;
      }
      }
    // Progressive Enhancements : END
    // What it does: Makes background images in 72ppi Outlook render at correct size.
    //if gte mso 9
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
  body(width='100%', bgcolor='#222222', style='margin: 0; mso-line-height-rule: exactly;')
    center(style='width: 100%; background: #222222; text-align: left;')
      // Visually Hidden Preheader Text : BEGIN
      div(style='display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;')
        | (Optional) This text will appear in the inbox preview, but not the email body. It can be used to supplement the email subject line or even summarize the email's contents. Extended text preheaders (~490 characters) seems like a better UX for anyone using a screenreader or voice-command apps like Siri to dictate the contents of an email. If this text is not included, email clients will automatically populate it using the text (including image alt text) at the start of the email's body.
      // Visually Hidden Preheader Text : END
      // Email Header : BEGIN
      table.email-container(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', width='600', style='margin: auto;')
        tr
          td(style='padding: 20px 0; text-align: center')
            img(src='http://placehold.it/200x50', width='200', height='50', alt='alt_text', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
      // Email Header : END
      // Email Body : BEGIN
      table.email-container(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', width='600', style='margin: auto;')
        // Hero Image, Flush : BEGIN
        tr
          td(bgcolor='#ffffff', align='center')
            img.g-img(src='http://placehold.it/1200x600', width='600', height='', alt='alt_text', border='0', align='center', style='width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;')
        // Hero Image, Flush : END
        // 1 Column Text + Button : BEGIN
        tr
          td(bgcolor='#ffffff', style='padding: 40px 40px 20px; text-align: center;')
            h1(style='margin: 0; font-family: sans-serif; font-size: 24px; line-height: 125%; color: #333333; font-weight: normal;') Praesent laoreet malesuada cursus.
        tr
          td(bgcolor='#ffffff', style='padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; text-align: center;')
            p(style='margin: 0;')
              | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
        tr
          td(bgcolor='#ffffff', style='padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
            // Button : BEGIN
            table(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', style='margin: auto')
              tr
                td.button-td(style='border-radius: 3px; background: #222222; text-align: center;')
                  a.button-a(href='http://www.google.com', style='background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;')
                    span(style='color:#ffffff;') A Button
            // Button : END
        // 1 Column Text + Button : END
        // Background Image with Text : BEGIN
        tr
          // Bulletproof Background Images c/o https://backgrounds.cm
          td(background='http://placehold.it/600x230/222222/666666', bgcolor='#222222', valign='middle', style='text-align: center; background-position: center center !important; background-size: cover !important;')
            //if gte mso 9
              v:rect(xmlns:v='urn:schemas-microsoft-com:vml', fill='true', stroke='false', style='width:600px;height:175px; background-position: center center !important;')
                v:fill(type='tile', src='http://placehold.it/600x230/222222/666666', color='#222222')
                  v:textbox(inset='0,0,0,0')
            div
              table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                tr
                  td(valign='middle', style='text-align: center; padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;')
                    p(style='margin: 0;')
                      | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
            //if gte mso 9
        // Background Image with Text : END
        // 2 Even Columns : BEGIN
        tr
          td(bgcolor='#ffffff', align='center', valign='top', style='padding: 10px;')
            table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
              tr
                // Column : BEGIN
                td.stack-column-center
                  table(role='presentation', cellspacing='0', cellpadding='0', border='0')
                    tr
                      td(style='padding: 10px; text-align: center')
                        img.fluid(src='http://placehold.it/270', width='270', height='270', alt='alt_text', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                    tr
                      td.center-on-narrow(style='font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 0 10px 10px; text-align: left;')
                        p(style='margin: 0;')
                          | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                // Column : END
                // Column : BEGIN
                td.stack-column-center
                  table(role='presentation', cellspacing='0', cellpadding='0', border='0')
                    tr
                      td(style='padding: 10px; text-align: center')
                        img.fluid(src='http://placehold.it/270', width='270', height='270', alt='alt_text', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                    tr
                      td.center-on-narrow(style='font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 0 10px 10px; text-align: left;')
                        p(style='margin: 0;')
                          | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                // Column : END
        // 2 Even Columns : END
        // 3 Even Columns : BEGIN
        tr
          td(bgcolor='#ffffff', align='center', valign='top', style='padding: 10px;')
            table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
              tr
                // Column : BEGIN
                td.stack-column-center(width='33.33%')
                  table(role='presentation', cellspacing='0', cellpadding='0', border='0')
                    tr
                      td(style='padding: 10px; text-align: center')
                        img.fluid(src='http://placehold.it/170', width='170', height='170', alt='alt_text', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                    tr
                      td.center-on-narrow(style='font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 0 10px 10px; text-align: left;')
                        p(style='margin: 0;')
                          | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                // Column : END
                // Column : BEGIN
                td.stack-column-center(width='33.33%')
                  table(role='presentation', cellspacing='0', cellpadding='0', border='0')
                    tr
                      td(style='padding: 10px; text-align: center')
                        img.fluid(src='http://placehold.it/170', width='170', height='170', alt='alt_text', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                    tr
                      td.center-on-narrow(style='font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 0 10px 10px; text-align: left;')
                        p(style='margin: 0;')
                          | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                // Column : END
                // Column : BEGIN
                td.stack-column-center(width='33.33%')
                  table(role='presentation', cellspacing='0', cellpadding='0', border='0')
                    tr
                      td(style='padding: 10px; text-align: center')
                        img.fluid(src='http://placehold.it/170', width='170', height='170', alt='alt_text', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                    tr
                      td.center-on-narrow(style='font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 0 10px 10px; text-align: left;')
                        p(style='margin: 0;')
                          | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                // Column : END
        // 3 Even Columns : END
        // Thumbnail Left, Text Right : BEGIN
        tr
          td(bgcolor='#ffffff', dir='ltr', align='center', valign='top', width='100%', style='padding: 10px;')
            table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr
                // Column : BEGIN
                td.stack-column-center(width='33.33%')
                  table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td(dir='ltr', valign='top', style='padding: 0 10px;')
                        img.center-on-narrow(src='http://placehold.it/170', width='170', height='170', alt='alt_text', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                // Column : END
                // Column : BEGIN
                td.stack-column-center(width='66.66%')
                  table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td.center-on-narrow(dir='ltr', valign='top', style='font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 10px; text-align: left;')
                        h2(style='margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #333333; font-weight: bold;') Class aptent taciti sociosqu
                        p(style='margin: 0 0 10px 0;')
                          | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        // Button : BEGIN
                        table.center-on-narrow(role='presentation', cellspacing='0', cellpadding='0', border='0', style='float:left;')
                          tr
                            td.button-td(style='border-radius: 3px; background: #222222; text-align: center;')
                              a.button-a(href='http://www.google.com', style='background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;')
                                span.button-link(style='color:#ffffff;')     A Button    
                        // Button : END
                // Column : END
        // Thumbnail Left, Text Right : END
        // Thumbnail Right, Text Left : BEGIN
        tr
          td(bgcolor='#ffffff', dir='rtl', align='center', valign='top', width='100%', style='padding: 10px;')
            table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
              tr
                // Column : BEGIN
                td.stack-column-center(width='33.33%')
                  table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td(dir='ltr', valign='top', style='padding: 0 10px;')
                        img.center-on-narrow(src='http://placehold.it/170', width='170', height='170', alt='alt_text', border='0', style='height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                // Column : END
                // Column : BEGIN
                td.stack-column-center(width='66.66%')
                  table(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                    tr
                      td.center-on-narrow(dir='ltr', valign='top', style='font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 10px; text-align: left;')
                        h2(style='margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #333333; font-weight: bold;') Class aptent taciti sociosqu
                        p(style='margin: 0 0 10px 0;')
                          | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        // Button : BEGIN
                        table.center-on-narrow(role='presentation', cellspacing='0', cellpadding='0', border='0', style='float:left;')
                          tr
                            td.button-td(style='border-radius: 3px; background: #222222; text-align: center;')
                              a.button-a(href='http://www.google.com', style='background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;')
                                span.button-link(style='color:#ffffff;')     A Button    
                        // Button : END
                // Column : END
        // Thumbnail Right, Text Left : END
        // Clear Spacer : BEGIN
        tr
          td(aria-hidden='true', height='40', style='font-size: 0; line-height: 0;')
        // Clear Spacer : END
        // 1 Column Text : BEGIN
        tr
          td(bgcolor='#ffffff')
            table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
              tr
                td(style='padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;')
                  | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
        // 1 Column Text : END
      // Email Body : END
      // Email Footer : BEGIN
      table(role='presentation', cellspacing='0', cellpadding='0', border='0', align='center', width='100%', style='max-width: 680px; font-family: sans-serif; color: #888888; font-size: 12px; line-height: 140%;')
        tr
          td.x-gmail-data-detectors(style='padding: 40px 10px; width: 100%; font-family: sans-serif; font-size: 12px; line-height: 140%; text-align: center; color: #888888;')
            webversion(style='color: #cccccc; text-decoration: underline; font-weight: bold;') View as a Web Page
            br
            br
            |                 Company Name
            br
            | 123 Fake Street, SpringField, OR, 97477 US
            br
            | (123) 456-7890
            br
            br
            unsubscribe(style='color: #888888; text-decoration: underline;') unsubscribe
      // Email Footer : END
      // Full Bleed Background Section : BEGIN
      table(role='presentation', bgcolor='#709f2b', cellspacing='0', cellpadding='0', border='0', align='center', width='100%')
        tr
          td(valign='top', align='center')
            .email-container(style='max-width: 600px; margin: auto;')
              //if mso
                table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='600', align='center')
                  tr
                    td
              table(role='presentation', cellspacing='0', cellpadding='0', border='0', width='100%')
                tr
                  td(style='padding: 40px; text-align: left; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;')
                    p(style='margin: 0;')
                      | Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
              //if mso
      // Full Bleed Background Section : END
